### AceleraDev Codenation - Semana 2
##### Tiago Antunes | Data Scientist

**Manipulando dados**

In [4]:
# importando os pacotes
import pandas as pd
import numpy as np

In [5]:
#acessando o help dos pacotes
pd?

### Dicionários

In [6]:
#Criando um dicionário com os dados
dados = {'canal_vendas':['facebook', 'twitter', 'instagram',' linkedin', 'facebook'],
        'acessos': [100, 200, 300, 400, 500],
         'site': ['site1', 'site1','site2','site2','site3'],
         'vendas': [1000.52, 1052.34, 2002, 5000, 300]
         }

In [7]:
#para printar o dicionário
dados

{'canal_vendas': ['facebook', 'twitter', 'instagram', ' linkedin', 'facebook'],
 'acessos': [100, 200, 300, 400, 500],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300]}

In [8]:
#verificando o tipo de dicionário
type(dados)

dict

In [9]:
#acessando as chaves do meu dicionário
dados.keys()

dict_keys(['canal_vendas', 'acessos', 'site', 'vendas'])

In [ ]:
#acessando uma chave especifica
dados['canal_vendas']

In [11]:
#acessando uma posição específica
dados['canal_vendas'][2]

'instagram'

### Listas

In [14]:
#Criando uma lista
lista = [200, 200 , 300 ,800, 200]

In [15]:
#printando a lista
lista

[200, 200, 300, 800, 200]

In [16]:
#Vendo valores especificos
lista[1]

200

In [19]:
#fatia da lista
lista[1:3]

[200, 300]

In [20]:
# Adicionando a lista ao dicionario
dados['lista'] = lista

In [21]:
dados

{'canal_vendas': ['facebook', 'twitter', 'instagram', ' linkedin', 'facebook'],
 'acessos': [100, 200, 300, 400, 500],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2002, 5000, 300],
 'lista': [200, 200, 300, 800, 200]}

### DataFrames

In [22]:
#Criar um data frame a partir de um dict
dataframe = pd.DataFrame(dados)

In [23]:
#acessando o dataframe
dataframe

  canal_vendas  acessos   site   vendas  lista
0     facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200
2    instagram      300  site2  2002.00    300
3     linkedin      400  site2  5000.00    800
4     facebook      500  site3   300.00    200

In [25]:
#printando os primeiros casos do dataframe
dataframe.head(4)

  canal_vendas  acessos   site   vendas  lista
0     facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200
2    instagram      300  site2  2002.00    300
3     linkedin      400  site2  5000.00    800

In [1]:
#Verificando o formato do dataframe
dataframe.shape
dataframe.shape

NameError: name 'dataframe' is not defined

In [30]:
QQRNOME = dataframe
QQRNOME.shape
type(QQRNOME)

pandas.core.frame.DataFrame

In [31]:
#Verificando o indice do dataframe
dataframe.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
#Verificando os tipos dos dados do dataframe
dataframe.dtypes

canal_vendas     object
acessos           int64
site             object
vendas          float64
lista             int64
dtype: object

In [45]:
#Verificando se existem valores faltantes
dataframe.isna()

   canal_vendas  acessos   site  vendas  lista  nova_coluna
0         False    False  False   False  False        False
1         False    False  False   False  False        False
2         False    False  False   False  False        False
3         False    False  False   False  False        False
4         False    False  False   False  False        False

In [37]:
#printando os nomes das colunas
dataframe.columns

Index(['canal_vendas', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [40]:
#Acessando uma coluna especifica
dataframe['canal_vendas']

0     facebook
1      twitter
2    instagram
3     linkedin
4     facebook
Name: canal_vendas, dtype: object

In [46]:
# Criando uma nova coluna
dataframe['nova_coluna'] = [1, 2, 3, 4, 5]
dataframe
dataframe['nova_coluna']

0    1
1    2
2    3
3    4
4    5
Name: nova_coluna, dtype: int64

In [47]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   canal_vendas  5 non-null      object
 1   acessos       5 non-null      int64
 2   site          5 non-null      object
 3   vendas        5 non-null      float64
 4   lista         5 non-null      int64
 5   nova_coluna   5 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 368.0+ bytes